<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="userName" value="nikita231092@gmail.com" />
		<add key="password" value="8982666259" />
		<add key="filePath" value="C:\Users\ShivamBhargava\Downloads\InputFile.xlsx" />
		<add key="isWebsiteRequired" value="false" />
		<add key="isSalesNavigatorEnabled" value="true" />
		<add key="pagingEnabled" value="false" />
		<add key="pageSize" value="1"/>
		<add key="linKedInLoginURL" value="https://www.linkedin.com/login" />
		<add key="linKedInCompanyURL" value="https://www.linkedin.com/search/results/companies" />
		<add key="linKedInPeopleURL" value="https://www.linkedin.com/search/results/people" />
		<add key="linKedInSalesNavigatorURL" value="https://www.linkedin.com/sales/search/people" />
	</appSettings>
</configuration>
